
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ol>
                <?php foreach ($data as $class => $classInfo):
                    $classPath=str_replace(['app\\','\\controller\\'],['','/'],$class);
                    foreach($classInfo['methods'] as $methodName=>$method):
                    ?>
                    <li>{$classPath}/{$methodName}</li>
                    <?php endforeach;endforeach?>
                </ol>
            </div>
        </nav>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">控制层接口</h1>
            <!--<div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
            </div>-->
        </div>
    <p>控制器解析参数,返回,关联服务,及事件提交表单</p>
    <?php
    $i=0;
    foreach ($data as $class => $classInfo):

        $classPath=str_replace(['app\\','\\controller\\'],['','/'],$class);
        foreach($classInfo['methods'] as $methodName=>$method):
        if(empty($method['calledService'])){
            continue;
        }

    ?>
        <a name="{$classPath}/{$methodName}"></a>
        <h3>接口{++$i}: {$methodName|get_http_method} /{$classPath}/{$methodName} {$method.titles[0]}</h3>
    <p></p>
    <p><a target="_blank" href="{:url('showForm',['url'=>"$classPath/$methodName"])}">测试接口</a>(以真实账号登录获取token才能测试)<p>
    {include file="index/sub_method"}
    <?php
    endforeach;
    endforeach;?>
        </main>


</div>