<?php ?>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ol>
                    <?php foreach (array_keys($data) as $tableName):?>
                    <li>{$tableName}</li>
                    <?php endforeach;?>
                </ol>
            </div>
        </nav>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="chartjs-size-monitor"
             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">数据库结构</h1>
        </div>
        <p>数据库结构便于查询,可以根据设计原则检查设计是否合理,比如注释不能为空,not null且有默认值</p>

        <?php
            $i=0;
            foreach ($data as $key => $table) :?>
        <a name="{$table.Name}"></a>
        <h3>{++$i} {$table.Name} {$table.Comment}</h3>
        <table class="table table-striped">
            <tr>
                <td colspan=100>
                    <table class="table table-bordered">
                        <tr>
                            <td>
                            <td>字段名
                            <td>字段中文名
                            <td>类型
                            <td>索引
                            <td>默认
                        </tr>
                        <?php
                    $ii=0;
                    foreach($table['detail'] as $col):
                    $default =(null===$col['Default'])?'':var_export($col['Default'],1);
                    ?>
                        <tr>
                            <td>{++$ii}
                            <td>{$col.Field}</td>
                            <td>{$col.Comment}
                            <td>{$col.Type}
                            <td>{$col.Key}</td>
                            <td>{$default}</td>
                        </tr>
                        <?php endforeach?>
                    </table>
                </td>
            </tr>
        </table>
        <?php endforeach?>

    </main>


</div>

<div class="container">
    <p></p>

</div>