



<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ol>
                    <?php foreach ($data as $class => $classInfo):
                    $classPath=str_replace(['app\\common\\service\\','\\'],['','/'],$class);
                    foreach($classInfo['methods'] as $methodName=>$method):
                    $srvPath="$classPath/$methodName";
                    ?>
                    <li><a href="?item={$srvPath}">{$classPath}/{$methodName}</a></li>
                    <?php endforeach;endforeach?>
                </ol>
            </div>
        </nav>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">控制服务层接口</h1>
            <!--<div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
            </div>-->
        </div>
        <p>解析服务参数、返回参数说明;控制器action、服务、模型对应调用关系;接口对应源代码</p>
        <?php
        $i=0;
        foreach ($data as $class => $classInfo):

        $classPath=explode('\\service\\',$class)[1];
        $segs=explode('\\',$classPath);
        $className=array_pop($segs);//lowercase_classname();
        $segs[]=$className;
        $classPath=join('/',$segs);
        foreach($classInfo['methods'] as $methodName=>$method):
        $srvPath=$classPath.'/'.$methodName;

        if($item=input('item')){
            if($item!= $srvPath){
                continue;
            }
        }

        ?>
        <a name="{$srvPath}"></a>
        <h3>服务{++$i}: {$srvPath} {$method.titles[0]}</h3>
        {include file="index/sub_method"}
        <?php
    endforeach;
    endforeach;?>
    </main>


</div>


