<?php
    $isCtl=$classInfo['isController']??false;
    $returnFakeStr='';
    $return_type=$method['return']['type']??'';
    $return_fields = $method['return']['fields']??[];
    $isMulti = $method['return']['is_multi']??false;
    if($isCtl){
        $returnFakeStr=fake_json($return_type,$return_fields,$isMulti);
    }else{
        $returnFakeStr=fake_var_string($return_type,$return_fields,$isMulti);
    }
    $srvPath=$srvPath??'';
    $srvConfig=config("service.$srvPath");
?>
<table class="table table-bordered">
    <tr>
        <td>
            参数
        <td colspan="100">
            <?php if(!empty($method['params'])):?>
            <table class="table table-bordered">
                <tr>
                    <th>参数
                    <th>类型
                    <th>说明
                    <th>默认值</th>
                </tr>
                <?php
                foreach($method['params'] as $paramName=>$param):
                $default=isset($param['default'])?var_export($param['default'],1):'';
                ?>
                <tr>
                    <th>{$paramName}
                    <td>{$param.type|default=''}
                    <td>{$param.title|default=''}
                    <td>{$default}
                    </td>
                    <?php endforeach?>
            </table>
            <?php endif?>
        </td>
    </tr>
    <?php if($return_type):?>
    <tr>
        <td>返回说明</td>
        <?php
            if($return_fields):?>
        <td>
            <table>
                <tr>
                    <td>返回字段</td>
                    <td>字段说明
                </tr>
                <?php foreach($return_fields as $fieldname=>$title):?>
                <tr>
                    <td>{$fieldname}
                    <td>{$title}</td>
                </tr>
                <?php endforeach?>
            </table>
        </td>
        <?php endif?>

        <td>
            <pre>{$returnFakeStr}</pre>
        </td>
    </tr>
    <?php endif;?>
    <?php if($cl=$srvConfig['cacheLifetime']??''):?>
    <tr>
        <td>配置
        <td colspan="100">
        <ul>
            <li>缓存时间:{$cl}秒</li>
        </ul>
    </tr>
    <?php endif;?>
    <?php if($relatedAction=$relatedActions[$srvPath] ?? []):?>
    <tr>
        <td>关联action
        <td colspan="100">
            {foreach $relatedAction as $k=>$v}
            <li><a href="{:url('listController')}?item={$v}">{$v}</a></li>
            {/foreach}
        </td>
    </tr>
    <?php endif;?>

    <?php if($calledService=$method['calledService'] ?? []):?>
    <tr>
        <td>调用service</td>
        <td colspan="100">
        {foreach $calledService as $k=>$v}
        <li><a href="{:url('listService')}?item={$v}">{$v}</a></li>
        {/foreach}
        </td>
    </tr>
    <?php endif;?>

    <?php if($calledModel=$method['calledModel'] ?? []):?>
    <tr>
        <td>调用model
        <td colspan="100">
        <?php echo join('&nbsp',$calledModel)?>
    </tr>
    <?php endif;?>
    {if($isCtl)}
    <tr>
        <td><a target="_blank" href="{:url('showForm',['url'=>"$classPath/$methodName"])}">测试接口</a>
        <td class="div-show-test" url="{:url('showForm',['url'=>"$classPath/$methodName"])}">
    </tr>
    {/if}
    <tr><td>本接口源代码</td><td colspan="100">
        <pre>{$method['source']['comment']}</pre><pre class="code">{$method['source']['code']}</pre>
    </td></tr>
</table>
